name: magic

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: pip install -r ci/requirements.txt

      - name: Run Dispatcher
        env:
          GH_PAT: ${{ secrets.PRUPLE_KEY_TO_THOUGHTS }}
        run: |
          git config --global user.name "pruple-bot"
          git config --global user.email "pruple-bot@example.com"
          python ci/dispatcher.py
